.wrapper {
    display: flex;
}

.image {

    height: 500px;
}


.content {
    text-align: left;
    width: 30%;
    margin: 200px 50px;

}

.title {

    text-align: left;
    margin-bottom: 20px;

}

.tekst {
    padding-top: 15px;
}