.wrapper {
    display: flex;
}

.image {

    height: 400px;
    margin-top:100px;
}


.content {
    text-align: left;
    width: 30%;
    margin: 190px 50px;

}

.title {

    text-align: left;
    margin-bottom: 20px;

}

.tekst {
    padding-top: 15px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

.show{
    display: flex;
    
}