.logo {
    margin-top: 50px;
    margin-left: 100px;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin: 30px;
}

.contact {
    display: block;
    align-items: center;
}

.contactLine {
    display: flex;
    margin-bottom: 20px;

}

.tekst {
    width: 250px;
    margin-left: 20px;


}

.links {
    display: flex;
}